<nav class="navbar navbar" style="background:transparent">

  

  <div class="container-fluid">
     


    <div class="navbar-header">
      

      <img src="/assets/smartbugmedia_logo_black.png" class="pic">

    </div>
  

    <ul class="nav navbar-nav navbar-right">
        
      <li>
        <a routerLink="work">
          Work
        
          
        </a>

      </li>
      <li>
        <a routerLink="expertise">Expertise</a>
      </li>
      <li>
        <a routerLink="resources">Resources</a>
      </li>
      <li>
        <a routerLink="about">About</a>
      </li>
      <li>
          <a routerLink="posts">Posts</a>
        </li>
      <li>
          <a routerLink="register">Register</a>

      </li>
      <li>
        <a routerLink="reactive">Reactive</a>
    </li>

    </ul>

  </div>

</nav>